<!-- Angular directive to replace the content in ion-nav-view tags in index.html -->
<ion-view hide-nav-bar="true" view-title="Home">
  <!-- Angular directive that wraps the "main content" of the screen-->

  <ion-content class="app-bg">
    <!-- logo variable is replaced based on what we set in the controller. -->
    <img src="{{logo}}" class="full-image" />

    <div class="padding text-center">
      <!-- Normal link to the categories page.-->
      <!-- Hash links are handled by angular -->
      <a class="button button-positive button-block" href="#/categories">Categories</a>
    </div>
  </ion-content>
</ion-view>