<!-- Angular directive to replace the content in ion-nav-view tags in index.html -->
<ion-view hide-nav-bar="true" view-title="Home">
  <!-- Angular directive that wraps the "main content" of the screen-->

  <ion-content class="app-bg">
    <img src="img/talltails.png" class="full-image" />
    <div class="padding text-center">
      <!-- Normal link to the categories page.-->
      <a class="button button-positive button-block" href="#/categories">Categories</a>
    </div>
  </ion-content>
</ion-view>